@{
    ViewBag.Title = "User texts";
}
@model Demo.ViewModels.UserTextsViewModel

@using (Html.BeginForm("Index", "UserTexts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter the data:</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewUserText.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @if (Model.NewUserText.IsNameDisabled)
            {
                @Html.TextBox("Name", Model.NewUserText.Name, new { @class = "form-control", @readonly = "readonly" })
            }
            else
            {
                @Html.TextBox("Name", Model.NewUserText.Name, new { @class = "form-control" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewUserText.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Text", Model.NewUserText.Text, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

<div>
@foreach (var item in Model.StoredUserTexts)
{
    <div class="">
        <hr />
        <p>@Html.Label("Added:", new { @class = "col-md-2" }) @item.Added.ToString("yyyy.MM.dd HH:mm:ss")</p>
        <p>@Html.Label("Name:", new { @class = "col-md-2" }) @item.Name</p>
        <p>@Html.Label("Text:", new { @class = "col-md-2" }) @item.Text</p>
    </div>
}
</div>
